<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_with(model: @user, url: applies_to_reply_month_user_path, local: true, method: :patch) do |f| %>
        <% @user.each do |user| %>
          <h1 class="modal-title">【<%= user.name %>からの月次申請】</h1>
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>月</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            <% @applies_notice = Apply.where(user_id: user.id).where.not(mark_month_instructor_confirmation: "承認").where.not(mark_month_instructor_confirmation: "否認") %>
            <% @applies_notice.each do |notice| %>
              <%= f.fields_for "applies[]", notice do |apply| %>
                <tbody>
                  <tr>
                    <th><%= notice.month.month %>月</th>
                    <th><%= apply.select :mark_month_instructor_confirmation, [["なし"],["申請中"],["承認"],["否認"]]%></th>
                    <th><%= apply.check_box :change, {class: "change"}, 'true', 'false' %></th>
                    <th>
                    　<%= link_to "確認", reference_user_path(user,date:notice.month) , target:true, class: "btn btn-primary btn-primary" %>
                    </th>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
              <table class="center">
                <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
              </table>
      <% end %>
    </div>
  </div>
</div>