<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<td class="center">
  <%= link_to "ファイルを選択", "#", remote: true, class: "btn btn-default" %>
</td>

<td class="center">
  <%= link_to "CSVをインポート","#", remote: true, class: "btn btn-primary" %>
</td>

<div class="col-md-11 col-md-offset-1">
  <%= will_paginate %>
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if current_user.admin? && !current_user?(user) %>
              <%= user.name %><br>
              <%= link_to "削除", user, method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %><br>
              <%= link_to "編集", edit_basic_info_user_path(user), class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <%= will_paginate %>
</div>