<% provide(:title, '拠点') %>
<h1>拠点一覧</h1>
<table class="table table-bordered table-hover" id= "table-attend_employees">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="2"></th>
      <th colspan="2">拠点番号</th>
      <th colspan="2">拠点名</th>
      <th colspan="2">勤怠種類</th>
    </tr>
  </thead>
  <tbody>
    <% if @bases.blank? %>
     <tr>
        <th colspan="2">
          <%= link_to "修正", "", class: "btn btn-primary" %>
        </th>
        <th colspan="2">
           <%= link_to "削除", "", class: "btn btn-primary" %>
        </th>
        <th colspan="2"></th>
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>
    <% else %>
      <% @bases.each do |base| %>
        <tr>
          <th colspan="2">
            <%= link_to "修正", edit_basis_path(base), class: "btn btn-primary" %>
          </th>
          <th colspan="2">
             <%= link_to "削除", basis_path(base), method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
          </th>
          <th colspan="2"><%= base.base_number %></th>
          <th colspan="2"><%= base.base_name %></th>
          <th colspan="2"><%= base.base_type %></th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="center jumbotron">
  <%= link_to "拠点情報追加" ,new_basis_path, class: "btn btn-primary" %>
</div>
