<% provide(:class_text, 'edit_one_month') %>
<% provide(:button_text, '変更を送信する。') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_with(model: @user, url: attendances_update_one_month_user_path, local: true, method: :patch) do |f| %>
        <% @user.each do |user| %>
          <h1 class="modal-title">【<%= user.name %>からの勤怠変更申請】</h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="1" rowspan="3">日付</th>
                <th colspan="1" rowspan="3">曜日</th>
                <th colspan="4" rowspan="1">変更前</th>
                <th colspan="4" rowspan="1">変更後</th>
                <th colspan="1" rowspan="3">備考</th>
                <th colspan="1" rowspan="3">指示者確認㊞</th>
                <th colspan="1" rowspan="3">変更</th>
                <th colspan="1" rowspan="3">勤怠を確認する</th>
              </tr>
              <tr>
                <th colspan="2" rowspan="1">出社</th>
                <th colspan="2" rowspan="1">退社</th>
                <th colspan="2" rowspan="1">出社</th>
                <th colspan="2" rowspan="1">退社</th>
              </tr>
              <tr>
                <th rowspan="1">時</th>
                <th rowspan="1">分</th>
                <th rowspan="1">時</th>
                <th rowspan="1">分</th>
                <th rowspan="1">時</th>
                <th rowspan="1">分</th>
                <th rowspan="1">時</th>
                <th rowspan="1">分</th>
              </tr>
            </thead>
            <% if current_user.name == "上長A" %>
              <% @attendances_notice = Attendance.where(user_id: user.id).where(kintai_to_who: "上長A").where.not(mark_kintai_change_instructor_confirmation: "承認").where.not(mark_kintai_change_instructor_confirmation: "否認") %>
            <% elsif current_user.name == "上長B" %>
              <% @attendances_notice = Attendance.where(user_id: user.id).where(kintai_to_who: "上長B").where.not(mark_kintai_change_instructor_confirmation: "承認").where.not(mark_kintai_change_instructor_confirmation: "否認") %>
            <% end %>
            <% @attendances_notice.each do |notice| %>
              <%= f.fields_for "attendances[]", notice do |attendance| %>
                <% css_class = 
                    case %w{日 月 火 水 木 金 土}[notice.worked_on.wday]
                    when '土'
                      'text-primary'
                    when '日'
                      'text-danger'
                    end
                %>
                <tbody>
                  <tr>
                    <th><%= l(notice.worked_on, format: :short) %></th>
                    <th class="<%= css_class %>">
                      <%= %w{日 月 火 水 木 金 土}[notice.worked_on.wday] %>
                    </th>
                    <th><%= l(notice.started_at, format: :th) if notice.started_at.present? %></th>
                    <th><%= l(notice.started_at.floor_to(15.minutes), format: :tm) if notice.started_at.present? %></th>
                    <th><%= l(notice.finished_at, format: :th) if notice.finished_at.present? %></th>
                    <th><%= l(notice.finished_at.floor_to(15.minutes), format: :tm) if notice.finished_at.present? %></th>
                    <th><%= l(notice.applying_started_at, format: :th) if notice.applying_started_at.present? %></th>
                    <th><%= l(notice.applying_started_at.floor_to(15.minutes), format: :tm) if notice.applying_started_at.present? %></th>
                    <th><%= l(notice.applying_finished_at, format: :th) if notice.applying_finished_at.present? %></th>
                    <th><%= l(notice.applying_finished_at.floor_to(15.minutes), format: :tm) if notice.applying_finished_at.present? %></th>
                    <th><%= notice.note %></th>
                    <th><%= attendance.select :mark_kintai_change_instructor_confirmation, [["なし"],["申請中"],["承認"],["否認"]]%></th>
                    <th><%= attendance.check_box :change, {class: "change"}, 'true', 'false' %></th>
                    <th>
                    　<%= link_to "確認", reference_user_path(user,date:notice.worked_on.beginning_of_month)  , target:true, class: "btn btn-primary btn-primary" %>
                    </th>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
              <table class="center">
                <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
              </table>
      <% end %>
    </div>
  </div>
</div>